@model SGMED_UNAPEC.Models.Registrovisitum

@{
    ViewData["Title"] = "Registrar Visita";
}
<main id="main" class="main">
    <div class="card">
        <div class="card-body">

            <br />
            <h5 class="card-title text-center">Información de la visita</h5>
            <hr />

          
  
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-2 justify-content-center ">
           
                    <div class="form-group">
                        <label for="MedicoId" class="form-label">Médico</label>
                        <select asp-for="MedicoId" id="medicamento" class="form-control">
                            <option selected>Seleccionar...</option>
                            @foreach (var medico in ViewBag.Medico)
                            {
                                <option value="@medico.MedicoId">@medico.Nombre</option>
                            }
                        </select>
                    </div>
                  
                    <div class="form-group">
                        <label for="PacienteId" class="form-label">Nombre del Paciente</label>
                        <select asp-for="PacienteId" id="medicamento" class="form-control">
                            <option selected>Seleccionar...</option>
                            @foreach (var paciente in ViewBag.Paciente)
                            {
                                <option value="@paciente.PacienteId">@paciente.Nombre</option>
                            }
                        </select>
                    </div>
                    

            <div class="form-group">
                            <label for="FechaVisita" class="form-label">Fecha de Visita</label>
                <input asp-for="FechaVisita" class="form-control" />
                <span asp-validation-for="FechaVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label for="HoraVisita" class="form-label">Hora de Visita</label>
                <input asp-for="HoraVisita" class="form-control" />
                <span asp-validation-for="HoraVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label for="Sintomas" class="form-label">Síntomas</label>
                <input asp-for="Sintomas" class="form-control" />
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label for="MedicamentoId" class="form-label">Medicamento Indicado</label>
                        <select asp-for="MedicamentoId" id="medicamento" class="form-control">
                            <option selected>Seleccionar...</option>
                            @foreach (var medicamentos in ViewBag.Medicamento)
                            {
                                <option value="@medicamentos.MedicamentoId">@medicamentos.Descripcion</option>
                            }
                        </select>
                    </div>
        
            <div class="form-group">
                <label asp-for="Recomendaciones" class="form-label"></label>
                <input asp-for="Recomendaciones" class="form-control" />
                <span asp-validation-for="Recomendaciones" class="text-danger"></span>
            </div>

                   
                    <div class="form-group">
                        <label for="EstadoId" class="form-label">Estado</label>
                        <select asp-for="EstadoId" id="estado" class="form-select">
                            <option selected>Seleccionar...</option>
                            @foreach (var estados in ViewBag.Estado)
                            {
                                <option value="@estados.EstadoId">@estados.Descripcion</option>
                            }

                        </select>
                        <span asp-validation-for="EstadoId" class="text-danger"></span>
                    </div>
                        <br />
                        <div class="text-center">
                            <input type="submit" value="Crear" class="btn btn-success" />
                            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                        </div>
                        </div>
        </form>
                </div>
          

     
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
